{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Parameters" : {
    "InstanceSubnetId" : {
      "Type" : "String",
      "Default" : "subnet-d1e236a6",
      "Description" : "SubnetId"
    },
    "SecurityGroupDefault" : {
      "Type" : "String",
      "Default" : "sg-968ca2f1",
      "Description" : "SecurityGroupDefault"
    }
  },
  "Resources": {
    "Instance": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "Monitoring":"true",
        "ImageId":"ami-c99dbeae",
        #"ImageId":"ami-c99dbeae",
        #"BlockDeviceMappings":[
        #  {
        #    "DeviceName":"/dev/xvda",
        #    "Ebs":{
        #      "SnapshotId":"snap-025e7c85",
        #       "VolumeSize":8,
        #        "VolumeType":"standard"
        #    }
        #  }
        #],
        "KeyName":"test-key1",
        "InstanceType":"t2.micro",
        "NetworkInterfaces" : [ {
           "DeviceIndex" : "0",
           "AssociatePublicIpAddress" : "true",
           "DeleteOnTermination" : "true",
           "SubnetId":{ "Ref" : "InstanceSubnetId" },
           "GroupSet" : [{ "Ref" : "SecurityGroupDefault"}]
          }
        ],
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": ["",
              [
                "#!/bin/sh\n",
                "curl \"https://bootstrap.pypa.io/get-pip.py\" -o \"get-pip.py\"\n",
                "sudo python get-pip.py\n",
                "sudo pip install awscli\n",
                "sudo yum install -y jq\n",
                "aws s3 cp s3://aws-codedeploy-ap-northeast-1/latest/install . --region ap-northeast-1\n",
                "chmod +x ./install\n",
                "sudo ./install auto\n"
              ]
            ]
          }
        },
        "Tags": [ {
            "Key": "deployed",
            "Value": "development-false"
        } ]
      }
    }
  },
  "Description": "SampleInstance"
}
